<strong>Olá, {{ student_name }}</strong>
<p>Agradecemos o seu contato e segue abaixo a resposta para a seu questionamento</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <small>Realizada no dia {{ created_at }}</small> <br />
  <br />
  <strong>Resposta da nossa equipe: </strong> {{ answer }} <br />
  <small>Respondida no dia {{ answer_at }} </small> <br />
  <br />
  <small>
    Para quaisquer outras dúvidas que surgirem a Gympoint estará a disposição.
  </small>
</p>
