<strong>Olá, {{ student_name }}</strong>
<p>Parabéns pela aquisição de um plano Gympoint, confira os detalhes do seu plano abaixo:</p>
<p>
  <strong>Nº matrícula: </strong> {{ enrollment }} <br />
  <strong>Plano: </strong> {{ membership_title }} <br />
  <strong>Duração (meses): </strong> {{ membership_duration }} <br />
  <strong>Preço: </strong> R$ {{ membership_price }} ao mês <br />
  <strong>Data de início: </strong> {{ enrollment_start_date }} <br />
  <strong>Data de término: </strong> {{ enrollment_end_date }} <br />
  <br />
  <small>
    Qualquer dúvida nossa equipe encontra-se a disposição pelos nossos canais de atendimento.
  </small>
</p>
